<h2>Client Page</h2>
<app-clients-button></app-clients-button>
<app-employees-button></app-employees-button>
<app-engagements-button></app-engagements-button>
<app-add-client 
(onAddClient)="addClient($event)"></app-add-client>
<div class="search-bar">
<input class ="search-bar" type="text" [(ngModel)]="name" (input)="Search()"/>
</div>

<table>
    <thead>
        <tr>
            <th scope="col">Client ID</th>
            <th scope="col">Client Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let client of clients">
            <th scope="row">{{client.id}}</th>
            <td>{{client.name}}</td>
            <td><fa-icon (click)="goToEdit(client)" [ngStyle]="{'color': 'dark'}" [icon]="faEdit"></fa-icon></td>
            <td> <app-delete-client (onDeleteClient)="deleteClient(client)"></app-delete-client></td>
        </tr>
    </tbody>
</table>


