<h2>Engagements Page</h2>
<app-clients-button></app-clients-button>
<app-employees-button></app-employees-button>
<app-engagements-button></app-engagements-button>
<app-add-engagement
(onAddEngagement)="addEngagement($event)"></app-add-engagement>
<div class="search-bar">
<input class ="search-bar" type="text" [(ngModel)]="name" (input)="Search()"/>
</div>
<table>
    <thead>
        <tr>
            <th scope="col">Engagement Name</th>
            <th scope="col">Engagement Description</th>
            <th scope="col">Client</th>
            <th scope="col">Employee</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let engagement of engagements" [ngStyle]="{'background-color': engagement.ended != null ? 'red' : 'green' }">
            <th scope="row">{{engagement.name}}</th>
            <td>{{engagement.description}}</td>
            <td (click)="goToEngagementClient(engagement)">{{engagement.client}}</td>
            <td (click)="goToEngagementEmployee(engagement)">{{engagement.employee}}</td>
            <td>{{engagement.started | date}} </td>
            <td>{{engagement.ended | date}}</td>
            <td><fa-icon (click)="goToEditEngagement(engagement)" [ngStyle]="{'color': 'dark'}" [icon]="faEdit"></fa-icon></td>
            <td><app-delete-engagement (onDeleteEngagement)="deleteEngagement(engagement)"></app-delete-engagement></td>
        </tr>
    </tbody>
</table>


