<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="id">ID</label>
      <input
        type="text"
        name="id"
        [(ngModel)]="id"
        id="id"
        placeholder="Add An Employee ID"
      />
    </div>
    <div class="form-control">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Add An Employee Name"
      />
    </div>
    <input type="submit" value="Save Employee" class="btn btn-block" />
  </form>
  