<h2>Employee Page</h2>
<app-button 
color="{{showAddEmployee ? 'red' : 'green'}}"
text="{{showAddEmployee ? 'Close' : 'Add'}}"
(btnClick)="toggleAddEmployee()">
</app-button>
<app-clients-button></app-clients-button>
<app-employees-button></app-employees-button>
<app-engagements-button></app-engagements-button>

<app-add-employee 
(onAddEmployee)="addEmployee($event)"></app-add-employee>

<div class="search-bar">
<p>Search:</p>
<input class ="search-bar" type="text" [(ngModel)]="name" (input)="Search()"/>
<button (click)="nameSearch()">Search by Name</button> 
<button (click)="idSearch()">Search by ID</button>
</div>

<table>
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.name}}</td>
            <td><fa-icon (click)="goToEdit(employee)" [ngStyle]="{'color': 'dark'}" [icon]="faEdit"></fa-icon></td>
            <td> <app-delete-client (onDeleteClient)="deleteEmployee(employee)"></app-delete-client></td>
        </tr>
    </tbody>
</table>



