<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Add An engagement Name"
      />
    </div>

    <div class="form-control">
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="description"
          id="description"
          placeholder="Add An engagement Description"
        />
      </div>

      
    <div class="form-control">
        <label for="started">Started</label>
        <input
          type="datetime-local"
          name="started"
          [(ngModel)]="started"
          id="started"
        />
      </div>

      <div class="form-control">
        <label for="ended">Ended</label>
        <input
          type="date"
          name="ended"
          [(ngModel)]="ended"
          id="ended"
        />
      </div>

        <div class="form-control">
            <label for="employee">Employee ID</label>
            <input
              type="text"
              name="employee"
              [(ngModel)]="employee"
              id="employee"
              placeholder="Add The Employee ID Working On This engagement"
            />
      </div>


    <div class="form-control">
        <label for="client">Client ID</label>
        <input
          type="text"
          name="client"
          [(ngModel)]="client"
          id="client"
          placeholder="Add The Client ID Working On This engagement"
        />
    </div>

    <input type="submit" value="Save Engagement" class="btn btn-block" />
  </form>
  
